.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 320px) {
  .profile__name {
    font-size: calc(100vw*0.016 + 22px);
    line-height: calc(100vw*0.016 + 28px);
    max-width: calc(100vw*0.173 + 178.7px);
  }
}

@media (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    max-width: 400px;
  }
}
