.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

@media (min-width: 830px) {
  .profile__info  {
    flex-direction: row;
    justify-content: start;
  }
}
