.elements {
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: 282px;
  grid-template-rows: repeat(6, 361px);
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .elements {
    margin-top: calc(100vw*0.016 + 15px);
  }
}

@media (min-width: 830px) {
  .elements {
    grid-template-columns: 282px 282px;
    grid-template-rows: repeat(3, 361px);
  }
}

@media (min-width: 1280px) {
  .elements {
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    margin-top: 35px;
  }
}
