.element__trash-icon {
  margin-left: 5px;
  min-height: 19px;
  width: 18px;
  background-image: url('../../../images/trash-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__trash-icon:hover {
  opacity: .6;
}
