.popup__submit-button {
  margin-top: 46px;
  margin-bottom: 25px;
  min-height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  width: 100%;
  background-color: black;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #fff;
}

@media (min-width: 320px) {
  .popup__submit-button {
    min-height: calc(100vw*0.004 + 44.67px);
    margin-bottom: calc(100vw*0.013 + 21px);
  }
}

@media (min-width: 1280px) {
  .popup__submit-button {
    min-height: 50px;
    margin-bottom: 37px;
  }
}

.popup__submit-button:hover {
  opacity: .8;
}
